<html>
  <head>
    <title>Library Application</title>
    <link rel="stylesheet" href="style.css">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="libs/vue/vue.js"></script>
    <script type="text/javascript" src="libs/axios/axios.js"></script>
    <script type="text/javascript" src="books.js"></script>
    <script type="text/javascript" src="userFunc.js"></script>
  </head>

  <body>
    <div id="app">
        <h1>Library Books</h1>

<!--        login-ul si register-ul tot nu merg, nici lik-ul de register-->

<!--        <div id="login" v-if="oldUser">-->
<!--            <form>-->
<!--                <h2>Login</h2>-->
<!--                <input type="text" id="username-input" placeholder="Username" />-->
<!--                <input type="password" id="password-input" placeholder="Password" />-->
<!--                <button id="login-button" v-on:click="login()">Sign in</button>-->
<!--                <a href="#register" v-on:click="(oldUser = false) && (newUser = true)">Register</a>-->
<!--            </form>-->
<!--        </div>-->

<!--        <div id="register" v-if="newUser">-->
<!--            <form>-->
<!--                <h2>Register</h2>-->
<!--                <input type="text" id="newUsername-input" v-model="username" placeholder="Username" />-->
<!--                <input type="password" id="newPassword-input" v-model="password" placeholder="Password" />-->
<!--                <button id="register-button" v-on:click="newAccount(username,password)">Sign up</button>-->
<!--            </form>-->
<!--        </div>-->

<!--        nu am reusit sa fac sa apara direct deschis View books-->
<!--        lista nu am reusit nici cum sa o aranjez frumos pe coloane asa ca le-am scos de tot, da asa mi se pare ca o-->
<!--        carte ocupa cam mult spatiu idk-->

<!--        partea buna e ca insert-ul, update-ul si delete-ul merg:)))-->

        <button class="accordion">View books</button>
        <div class="panel">
            <ul class="book-list">
                <li v-for="book in books" :key="book.title">
                    <div class="book-row">
                        <div class="book-image"><img :src="book.imageLink" alt="Book image"></div><br>
                        <div class="book-title" contenteditable="true"><b>{{ book.title }}</b></div>
                        <div class="book-author" contenteditable="true"><i>{{ book.author }}</i></div><br>
                        <div class="book-description" contenteditable="true"><b>Description: </b><i>{{ book.description }}</i></div><br>
                        <button id="update-button" v-on:click="update(book.id)">Update book</button>
                        <button id="delete-button" v-on:click="remove(book.id)">Delete book</button>
                    </div>
                </li>
            </ul>
        </div>

        <button class="accordion">Insert</button>
        <div class="panel"><br>
            <label for="title">Title</label><br>
            <input type="text" id="title" /><br>
            <label for="author">Author</label><br>
            <input type="text" id="author" /><br>
            <label for="imageLink">Image link</label><br>
            <input type="url" id="imageLink" /><br>
            <label for="description">Description</label><br>
            <textarea rows="5" cols="60" id="description"></textarea><br>
            <button type="button" id="insert-button" v-on:click="save()">Insert book</button><br><br>
        </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
